<div class="container home">

  <h1 class="home-mega-logo"><a href="/">webtype</a></h1>
  <h2 class="home-mega-sublogo">online word proccessor</h2>

  <a href="/register" class="button home-mega-button">sign up</a>
  <a href="/login" class="button home-mega-button">log in</a>

  <br>
  <div class="jumbotron">
    <h1>Online document sharing made easy</h1>
    <p>Quickly create and share documents with undeniable ease. Create an account now, or link your social media.</p>

    
  </div>
</div>
