<div class="container">

  <h1 class="global-logo"><a href="/">owebbot</a></h1>

  <br>
  <div class="jumbotron">
    <h1>Online document sharing made easy</h1>
    <p>Quickly create and share documents with undeniable ease. Create an account now, or link your social media.</p>

    <a href="/auth/login" class="button">login</a>
    <a href="/auth/register" class="button">register</a>
  </div>
  
  <br><br><br><br><br><br>
  <a href="https://mixpanel.com/f/partner" rel="nofollow"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png" alt="Mobile Analytics" /></a>

</div>
