<div class="container">

  <h1 class="global-logo"><a href="/">owebbot</a></h1>

  <!-- no user -->

  <br>
  <div class="jumbotron">
    <h1>Blazing fast editing and publishing</h1>

    <h2>Quick Markdown Editing.</h2>
    <p>With then barebones simplicity of markdown and our super easy-to-use editor, you can format and send privately or publicly using our easy-to-use blogging feature.</h2>

    <br><br>

    <a href="/auth/login" class="button">login</a>
    <a href="/auth/register" class="button">register</a>
  </div>

</div>
