<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/stylesheets/normalize.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/tooltip.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/animate.css" rel="stylesheet" type="text/css">

    <link href="/webfont/webfont.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>

    {{{body}}}
    
  </body>
</html>
