<div class="container">
  
  <h1>
    <a href="/">Thunder</a>
  </h1>
  
  <form action="/e/l/a/{{list.id}}" method="post">
  
    <input autocomplete="false" class="autosave" name="title" type="text" placeholder="Title" value="{{#if list.title}}{{list.title}}{{/if}}">
  
    <div class="item">
      <input name="item" type="text" placeholder="Add item to list">
    </div>
    
  
  </form>

</div>