<link href="/stylesheets/grid.css" rel="stylesheet" type="text/css">

<div class="container">

  <div class="row">
    <!-- HEADER -->
    <header class="col-md-12">
      <h1 class="global-logo"><a href="/">owebbot</a></h1>
    </header>
  </div>
  
  <div class="row">
    
    <!-- INFO -->
    <div class="col-md-6">
      {{#if info}}
        <span class="info-err">{{info}}</span>
      {{/if}}
    </div>
    
    <div class="col-md-6">
      <h2>login to owebbot</h2>
      <!-- FORM -->
      <form role="form" action="/auth/login" method="post" data-parsley-validate>
        
        <div class="form-group">
          <label for="username">Username</label>
          <input required class="form-control" type="text" name="username" placeholder="username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input required class="form-control" type="password" name="password" placeholder="password">
        </div>
        <br>
        <button class="btn btn-primary" type="submit">log in</button>
        <a href="/"><button class="btn btn-warning" type="button">cancel</button></a>
      
      </form>
    </div>
  </div>

</div>
