<div class="container">
  <header>
    <h1 class="global-logo"><a href="/">owebbot</a></h1>
  </header>

  <h2>Update Account</h2>
  <form action="/auth/update" method="post">

    <h3>User Preferences</h3>
    
  </form>


</div>
