/* Global */
html {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, sans-serif;
  color: #111;
  font-size: 1.4em;
}

/* Document CSS */
.container  {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, sans-serif;
  padding: 1em 20%;
  color: #333; }

.title h1 { margin: 0; padding-top: 1em; font-size: 2em; }
.title p { font-weight: 300; font-size: 1em; padding-bottom: .3em; }

h1, h2, h3, h4, h5, h6 { font-weight: 500; }

.title a { color: #333; }

a { color: #799CD8; text-decoration: none; }
a:hover { color: #37549C; }

.title p { margin: 0; }

code {font-family: Monaco, Inconsolata;}
pre.prettyprint { font-family: Monaco, Inconsolata; padding: 0 !important; border: 0 !important; }

.content {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.4em;
  line-height: 1.75em;
}