/**
 * Style.css
 * owebbot
 */

/*

/**
 * Display Properties
 */

/* global --------------------------------------*/

.global-logo { font-size: 32px; }
.global-actions { float: right; }
.global-action {  }

.container { padding: 0 10%;}

html {
  font-family: "Inconsolata";
  font-size: 1.4em;
  color: #26292C;
}

p, ul, ol, li {
  font-weight: 300;
}

a {
  color: #539FFE;
  text-decoration: none;
}

/* form --------------------------------------*/

label                         { font-size: 14px; }
input                         { display: block; margin: 0; width: 100%; font-size: 18px; appearance: none; box-shadow: none; border-radius: none; padding: 10px; border: solid 1px #dcdcdc; transition: box-shadow 0.3s, border 0.3s; }
input:focus                   { outline: none; border: solid 1px #707070; box-shadow: 0 0 5px 1px #969696; }
::-webkit-input-placeholder   { color: #26292C; }
button, .button               { color: #26292C; display: inline-block; margin: 0; font-family: sans-serif; font-size: 18px; appearance: none; box-shadow: none; border-radius: none; padding: 10px; border: solid 1px #dcdcdc; background: #fff; transition: all 0.3s; }
button: hover, .button: hover { outline: none; background: #dcdcdc; }

.parsley-error::-webkit-input-placeholder { color: #FF4136; }
.parsley-required, .parsley-errors-list { display: none; }

/* list --------------------------------------*/

.list-header         { margin: 1em 0; }
.list-header-title   { font-weight: 500; font-size: 22px; }
.list-header-actions { float: right; }

.list-body {}

.list-item               {  }
.list-item-header        {  }
.list-header-title       { font-size: 1.5em; }
.list-item-meta          { font-weight: 500; font-size: 14px; text-transform: uppercase; color: #939393; }
.list-item-actions       { float: right; }
.list-item-action        { padding: .1em; }
.list-item-action-delete { color: #EA3930; }

/* editor --------------------------------------*/

.editor-title       { padding: 0; font-size: 2.75em; font-weight: 300; border: 0; }
.editor-title:focus { border: 0; box-shadow: 0 0 0 0 transparent; }
.editor-body        {}
.editor-actions     { float: right; }

/* document view --------------------------------------*/

.prettyprint {
    font-family: "Inconsolata", monospace !important;
    font-size: 18px;
    padding: 0 !important;
    border: 0 !important;
}

.title {
    font-family: "Inconsolata"; font-weight: 200; font-size: 3em;
    color: #26292C;
}
