.container {
  padding: 0 10%;
}

html {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  color: #26292C;
}

p, ul, ol, li {
  font-weight: 300;
}

a {
  color: #539FFE;
  text-decoration: none;
}

.title {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 3em;
  color: #26292C;
}

.doc-title {
  color: #26292C;
  font-weight: 300;
}

input {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
input:focus {
  outline: none;
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
::-webkit-input-placeholder {
  color: #26292C;
}

input[name='title'] {
  font-size: 2.75em;
  border: 0;
}
input[name='title']:focus {
  border: 0;
  box-shadow: 0 0 0 0 transparent;
}

.CodeMirror {
  font-family: "Inconsolata", monospace !important;
  font-weight: 300 !important;
  height: auto !important;
}

#date {
  margin: 0;
}

button, .button {
  color: #26292C;
  display: inline-block;
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 10px;
  border: solid 1px #dcdcdc;
  background: #fff;
  transition: box-shadow 0.3s, border 0.3s;
}
button:hover, .button:hover {
  outline: none;
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

.delete, .edit {
  padding: .1em;
}

.delete {
  color: #EA3930;
}

.prettyprint {
  font-family: "Inconsolata", monospace !important;
  font-size: 18px;
  padding: 0 !important;
  border: 0 !important;
}

.date {
  text-transform: uppercase;
  font-size: 15px;
}

.float-right {
  float: right;
}

.key {
  padding: .2em .5em;
  color: #999;
  border: 1px solid;
  border-radius: 10px;
}