<div class="container">

  <form action="/e/d/as/{{document.id}}" method="post">

    <div class="editor-actions">
      <span class="editor-save" data-editor-status>*</span>
    </div>

    <h1 class="global-logo">
      <a class="editor-logo" href="/">owebbot</a>
    </h1>


    <input autocomplete="false" class=editor-title name="title" type="text" placeholder="Title" value="{{#if document.content.title}}{{document.content.title}}{{/if}}">

    <textarea autofocus="autofocus" id="content" name="content">{{#if document.content.data.raw}}{{document.content.data.raw}}{{/if}}</textarea>

  </form>

</div>

<!--codemirror-->
<link href="/codemirror/lib/codemirror.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/github.css" rel="stylesheet" type="text/css">

<script src="/codemirror/lib/codemirror.js"></script>
<script src="/codemirror/addon/mode/overlay.js"></script>
<script src="/codemirror/addon/wrap/hardwrap.js"></script>
<script src="/codemirror/addon/edit/continuelist.js"></script>
<script src="/codemirror/addon/edit/closebrackets.js"></script>
<script src="/codemirror/mode/xml/xml.js"></script>
<script src="/codemirror/mode/markdown/markdown.js"></script>
<script src="/codemirror/mode/gfm/gfm.js"></script>
<script src="/codemirror/mode/javascript/javascript.js"></script>
<script src="/codemirror/mode/css/css.js"></script>
<script src="/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="/codemirror/mode/clike/clike.js"></script>
<script src="/codemirror/mode/meta.js"></script>


<!-- custom code -->
<script>
  $(document).ready(function() {

    var editor = CodeMirror.fromTextArea(document.getElementById("content"), {
      mode: "gfm",
      theme: "github",
      lineNumbers: false,
      lineWrapping: true,
      viewportMargin: Infinity,
      indentWithTabs: true,
      autoCloseBrackets: true,
      extraKeys: { "Enter": "newlineAndIndentContinueMarkdownList" }
    });

    editor.on("change", function() {
      savingState();
    });

    $('form').submit(function(event) {
      autosave();
    });

    function autosave() {
      var formData = {
        'title': $('input[name=title]').val(),
        'content': editor.getValue(),
      };

      $.ajax({
          type: 'POST',
          url: '/e/d/as/{{document.id}}',
          data: formData,
          dataType: 'json',
          encode: true
        })
        .fail(function() {
          errorSavingState();
        })
        .done(function(data) {
          savedState();
        });
    }

    var el = document.querySelector('.editor-save')

    function errorSavingState() {
      el.dataset.editorStatus = 'editor-status-error';
    }

    function savingState() {
      el.dataset.editorStatus = 'editor-status-saving';
      autosave();
    }

    function savedState() {
      el.dataset.editorStatus = 'editor-status-saved';
    }

  });
</script>
