<div class="container">
  <header>
    <h1><a href="/~{{blog.slug}}">{{blog.title}}</a></h1>
  </header>

  <footer>
    <p><a href="/"><span class="icon icon-arrow-left"></span> back to owebbot</a></p>
  </footer>
</div>
